name: Weather ETL Pipeline

on:
  schedule:
    # Запускать каждый день в 08:00 UTC (11:00 МСК)
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  run-etl:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
      
    - name: Cache pip packages  # Новый шаг для кэширования
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
  
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run ETL script
      env:
        user: ${{ secrets.DB_USER }}
        password: ${{ secrets.DB_PASSWORD }}
        host: ${{ secrets.DB_HOST }}
        port: ${{ secrets.DB_PORT }}
        dbname: ${{ secrets.DB_NAME }}
      run: |
        python actions_etl_weather_current_from_open_meteo.py